project:
  type: website
  resources:
    - .nojekyll
    - CNAME
format:
  html:
    logo:
      light: logo-dark-path.svg
      dark: logo-light-path.svg
    logo-alt: "Mickaël CANOUIL logo"
    theme:
      light:
        - cosmo
        - brand
        - theme.scss
      dark:
        - cosmo
        - brand
        - theme.scss
    include-in-header:
      - text: |
          <style type="text/css">
          .nav-footer {
            border-top: unset;
          }
          </style>
    include-after-body:
      - text: |
          <script>
            document.getElementById('current-year').textContent = new Date().getFullYear();
          </script>
website:
  title: "GitHub Profile"
  description: "A landing page for Mickaël CANOUIL GitHub profile."
  favicon: logo-light-path.svg
  image: social-profile.png
  site-url: https://m.canouil.dev
  open-graph: true
  twitter-card: true
  page-footer:
    border: false
    left: |
      Powered by [{{< iconify simple-icons:quarto title="Quarto Logo" label="Quarto Logo" >}} Quarto](https://quarto.org){target="_blank" rel="noopener noreferrer"}.
    center: |
      &copy; []{#current-year} [Mickaël CANOUIL](https://mickael.canouil.fr){target="_blank" rel="noopener noreferrer"}. [{{< iconify octicon:heart-fill-16 title="Heart" label="Heart" >}} Sponsor](https://github.com/sponsors/mcanouil?o=esb){target="_blank" rel="noopener noreferrer"}.
    right: |
      License: [CC BY NC SA 4.0](https://creativecommons.org/licenses/by-nc-sa/4.0){target="_blank" rel="noopener noreferrer"}.
