name: Deploy

on:
  workflow_dispatch:
  push:
    branches:
      - main

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    env:
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}
      GH_TOKEN: ${{ github.token }}
    steps:
      - uses: actions/checkout@v6

      - uses: quarto-dev/quarto-actions/setup@v2
        with:
          version: pre-release
          tinytex: false

      - name: Render Quarto Project
        shell: bash
        run: |
          gh api \
            -H "Accept: application/vnd.github+json" \
            -H "X-GitHub-Api-Version: 2022-11-28" \
            /repos/mcanouil/mickael.canouil.fr/contents/index.qmd \
            --jq '.content' | base64 -d > index.qmd

          gh api \
            -H "Accept: application/vnd.github+json" \
            -H "X-GitHub-Api-Version: 2022-11-28" \
            /repos/mcanouil/mickael.canouil.fr/contents/assets/images/social-profile.png \
            --jq '.content' | base64 -d > social-profile.png

          gh api \
            -H "Accept: application/vnd.github+json" \
            -H "X-GitHub-Api-Version: 2022-11-28" \
            /repos/mcanouil/mickael.canouil.fr/contents/assets/images/logo-light-path.svg \
            --jq '.content' | base64 -d > logo-light-path.svg

          gh api \
            -H "Accept: application/vnd.github+json" \
            -H "X-GitHub-Api-Version: 2022-11-28" \
            /repos/mcanouil/mickael.canouil.fr/contents/assets/stylesheets/theme.scss \
            --jq '.content' | base64 -d > theme.scss

          sed -i 's|/assets/images/social-profile.png|social-profile.png|g' index.qmd
          sed -i 's|/assets/images/logo-light-path.svg|logo-light-path.svg|g' index.qmd
          sed -i 's|links:|links:\n    - text: "{{< iconify octicon:home-fill-16 >}}"\n      href: "https://mickael.canouil.fr/"\n      aria-label: "home logo for personal website"|' index.qmd

          quarto add mcanouil/quarto-iconify --no-prompt --quiet
          quarto add mcanouil/quarto-mcanouil --no-prompt --quiet

          touch .nojekyll
          echo "m.canouil.dev" > CNAME
          cp .github/workflows/assets/_quarto.yml _quarto.yml

          quarto render index.qmd

      - uses: actions/configure-pages@v5

      - uses: actions/upload-pages-artifact@v3
        with:
          path: "_site"

      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
